<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.game.dao.GoldCommonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="hashmap">
        <id column="id" property="id" />
        <result column="play_type" property="playType" />
        <result column="is_change_card" property="isChangeCard" />
        <result column="settle_type" property="settleType" />
        <result column="is_allow_sideshow" property="isAllowSideshow" />
        <result column="is_sideshow_user" property="isSideshowUser" />
        <result column="allow_sideshow_cd" property="allowSideshowCd" />
        <result column="bet_cd" property="betCd" />
        <result column="game_start_cd" property="gameStartCd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, play_type, is_change_card, change_fee, settle_type, is_allow_sideshow, is_sideshow_user, allow_sideshow_cd, bet_cd, game_start_cd
    </sql>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM common_config
    </select>
</mapper>
