@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="roomId" name="房间id" underline="true"/>
                    <#input id="minJoinTable" name="入桌最小积分" underline="true"/>
                    <#input id="ante" name="底注" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="serviceCharge" name="服务费比率" underline="true"/>
                    <#input id="robMultiple" name="抢庄倍数" underline="true"/>
                    <#input id="onOff" name="房间开关"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NiuniuRoomInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NiuniuRoomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/game/niuniuRoom/niuniuRoom_info.js"></script>
@}
