<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.item.dao.ItemConfigMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.item.model.ItemConfig">-->
    <!--<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.item.model.ItemConfig">-->
        <!--<id column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="details" jdbcType="VARCHAR" property="details" />-->
        <!--<result column="extra_price" jdbcType="INTEGER" property="extraPrice" />-->
        <!--<result column="game_id" jdbcType="INTEGER" property="gameId" />-->
        <!--<result column="item_icon" jdbcType="VARCHAR" property="itemIcon" />-->
        <!--<result column="item_name" jdbcType="VARCHAR" property="itemName" />-->
        <!--<result column="item_type" jdbcType="INTEGER" property="itemType" />-->
        <!--<result column="price" jdbcType="INTEGER" property="price" />-->
        <!--<result column="tag" jdbcType="INTEGER" property="tag" />-->
        <!--<result column="time_out" jdbcType="INTEGER" property="timeOut" />-->
    <!--</resultMap>-->

    <resultMap id="BaseResultMap" type="hashmap">
        <id column="id" property="id" />
        <result column="details" property="details" />
        <result column="extra_price" property="extraPrice" />
        <result column="game_id" property="gameId" />
        <result column="item_icon" property="itemIcon" />
        <result column="item_name" property="itemName" />
        <result column="item_type" property="itemType" />
        <result column="price" property="price" />
        <result column="tag" property="tag" />
        <result column="time_out" property="timeOut" />
        <result column="is_give" property="isGive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, details, extra_price, game_id, item_icon, item_name, item_type, price, tag, time_out
        <!-- 此处是关联查询demo -->
        ,case when (
        select count(*)
        from item_init
        where item_id = item_config.id)>0 then 1 else 0 end as is_give
    </sql>

    <!--<select id="selectItemConfig" resultType="map">-->
    <select id="selectItemConfig" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from item_config
        where 1 = 1
        <if test="condition != null and condition != ''">
            and (item_name like CONCAT('%',#{condition},'%') or details like CONCAT('%',#{condition},'%'))
        </if>
        <if test="game != null and game != ''">
            and game_id = #{game}
        </if>
        <if test="type != null and type != ''">
            and item_type = #{type}
        </if>
    </select>
</mapper>
