@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <#input id="id" name="" value="${item.id}" type="hidden"/>
                <input id="playTypeValue" type="hidden" value="${item.playType}"/>
                <input id="isChangeCardValue" type="hidden" value="${item.isChangeCard}"/>
                <input id="settleTypeValue" type="hidden" value="${item.settleType}" />
                <input id="isAllowSideshowValue" type="hidden" value="${item.isAllowSideshow}"/>
                <input id="isSideshowUserValue" type="hidden" value="${item.isSideshowUser}"/>
                <div class="col-sm-6 b-r">
                    <#select id="playType" name="玩法" >
                        <option value = "1">classic</option>
                        <option value = "2">joker</option>
                        <option value = "3">hukam</option>
                        <option value = "4">changeCard</option>
                        <option value = "5">blind</option>
                        <option value = "6">dealer</option>
                    </#select>
                    <#select id="isChangeCard" name="换牌开关" >
                        <option value="0">关闭</option>
                        <option value="1">开启</option>
                    </#select>
                    <#select id="settleType" name="自动结算类型" >
                        <option value="1">底池上限</option>
                        <option value="2">轮次上限</option>
                    </#select>
                    <#select id="isAllowSideshow" name="是否需要被比牌方同意比牌申请" >
                        <option value="0">不需要</option>
                        <option value="1">需要</option>
                    </#select>
                </div>

                <div class="col-sm-6">
                    <#select id="isSideshowUser" name="是否可以选择指定用户进行比牌" >
                        <option value="0">不允许</option>
                        <option value="1">允许</option>
                    </#select>
                    <#input id="allowSideshowCd" name="被比方同意比牌弹窗的倒计时" value="${item.allowSideshowCd}" underline="true"/>
                    <#input id="betCd" name="下注倒计时" value="${item.betCd}" underline="true"/>
                    <#input id="gameStartCd" name="游戏开始倒计时" value="${item.gameStartCd}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GoldCommonInfoDlg.operationSubmit('${operation}')"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GoldCommonInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/game/goldCommon/goldCommon_info.js"></script>
@}
