@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>道具配置管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="game" name="游戏" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="type" name="日志类型" >
                                    <option value="">全部</option>
                                    <option value="1">货币</option>
                                    <option value="2">体力</option>
                                    <option value="3">阳光</option>
                                    <option value="4">普通物品</option>
                                    <option value="5">限时物品</option>
                                    <option value="6">皮肤</option>
                                    <option value="7">限时头像</option>
                                    <option value="8">限时NPC</option>
                                    <option value="9">限时礼物</option>
                                    <option value="10">头像</option>
                                    <option value="11">NPC</option>
                                    <option value="12">礼物</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="time" name="开始时间" isTime="true" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ItemConfig.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ItemConfigTableToolbar" role="group">
                            @if(shiro.hasPermission("/itemConfig/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ItemConfig.openAddItemConfig()"/>
                            @}
                            @if(shiro.hasPermission("/itemConfig/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ItemConfig.openItemConfigDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/itemConfig/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="ItemConfig.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ItemConfigTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/item/itemConfig/itemConfig.js"></script>
<script>
    laydate.render({
        elem: '#time'
    });
</script>
@}
